::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: Suisse-Int-Bold;
  src: url('../fonts/SuisseIntl-Bold.otf');
}
@font-face {
  font-family: Suisse-Int-Medium;
  src: url('../fonts/SuisseIntl-Medium.otf');
}
@font-face {
  font-family: Suisse-Int-SemiBold;
  src: url('../fonts/SuisseIntl-SemiBold.otf');
}
@font-face {
  font-family: Suisse-Int-Thin;
  src: url('../fonts/SuisseIntl-Thin.otf');
}
:root{
  --lightblue: #7CCCED;
  --blue: #1690C3;
}
body {
  width:100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: 'Suisse-Int-Medium';
  font-size: 24px;
  overflow-x: hidden; /* hide horizontal scrollbar */

}

main {
  margin: 2% 4%;
}

h1,h2{
  font-family: 'Suisse-Int-Bold';
}
h3,h4{
  font-family: 'Suisse-Int-SemiBold';
}
h5, p{
  font-family: 'Suisse-Int-Thin';
}
a{
  text-decoration: none;
}

/*** HEADER ***/

.header{
  padding: 2% 4%;
  height: 4vh;
  display: flex;
  justify-content: space-between;
}
.header img{
  height:100%;
}
#jek_logo{
  cursor: pointer;
}

.header a{
  text-align: right;
}

/*** FOOTER ***/

.footer{
  padding: 2% 4%;
  margin-top: 10%;
  height:auto;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;

}
.footer p{
  font-size: 1.1rem;
}

.contacts{
  text-align: right;
}
