@font-face {
  font-family: Suisse-Int-Bold;
  src: url('../fonts/SuisseIntl-Bold.otf');
}
@font-face {
  font-family: Suisse-Int-Medium;
  src: url('../fonts/SuisseIntl-Medium.otf');
}
@font-face {
  font-family: Suisse-Int-SemiBold;
  src: url('../fonts/SuisseIntl-SemiBold.otf');
}
@font-face {
  font-family: Suisse-Int-Thin;
  src: url('../fonts/SuisseIntl-Thin.otf');
}

body {
  margin: 0;
  padding:2% 4%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: 'Suisse-Int-Medium';
  font-size: 24px;
}

h1,h2{
  font-family: 'Suisse-Int-Bold';
}
h3,h4{
  font-family: 'Suisse-Int-SemiBold';
}
h5{
  font-family: 'Suisse-Int-Thin';
}
