.home{
  height:auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  } 
#intro{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5%;
  height: 85vh;

}
.home h1{
    color:var(--blue);
    font-size: 5rem;
  }

  @media screen and (max-width: 600px){
 
    #intro h1{
      font-size: 2.5rem;
    }
  }
 
  
  
  
  
  
  
  