 .area h2:hover{
    color:var(--blue);
    cursor: pointer;
    transition: all .3s ease-in-out;

  }
  .projects_area{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 0 2vw;
  }
  
  .project_img img{
    width:100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
    }

  .project_img{
      background: rgba(124, 204, 237, 0.9);
      z-index: 1;
      transition: all .3s ease-in-out;
  }

  .project:hover img{
    opacity:0.1;
    transition: all .3s ease-in-out;
    }
  .project:hover {
      color:var(--lightbue);
      cursor: pointer;
      transition: all .3s ease-in-out;
    }
    .project_text{
      margin-top: 4%;

    }
    .project_text> h3,h5{
      margin-bottom: 0;
      margin-top:1%;
      font-size: 1.5rem;
      text-decoration: none;

    }
  
  .area h2{
    color:white;
    text-transform: uppercase;
    font-size: 3rem;
    transition: all .3s ease-in-out;

  }
  
  
  
  
  
  
  
  