 #subtitulo{
color: var(--lightblue);
 }
 .area{
   margin: 3% 0;
   max-height:40vh;
 }

 .area h2:hover{
    color:var(--blue);
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  .projects_contain{
    height: 90vw;
    width:40vh;
    transform: rotate(-90deg) translateX(-40vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
  }

  .projects_area{
    column-gap: 10px; 
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-40vh);
    transform-origin: top left;
    width: 15vh;
    height:90vw;

  }
   .project_img img{
    width:20vw;
    height: 20vh;
    object-fit: cover;
    transition: all .3s ease-in-out;
    border-radius: 0;
    vertical-align: middle;
    } 

.project:hover .project_img {
     background: rgba(124, 204, 237, 0.9); 
     transition: all .3s ease-in-out;
}

  .project:hover img{
    opacity:0.1;
    transition: all .3s ease-in-out;
    }
  .project:hover  .project_text{
      color:var(--lightblue);
      cursor: pointer;
      transition: all .3s ease-in-out;
    }
    .project_text{
      margin-top: 4%;
      margin-bottom: 10%;
      max-width: 20vw;
      color:white;
    }
    .project_text> h3,h5{
      margin-bottom: 0;
      margin-top:1%;
      font-size: 1.5rem;
      text-decoration: none;
    }
  
  .area h2{
    color:white;
    text-transform: uppercase;
    font-size: 3rem;
    transition: all .3s ease-in-out;
  }

  @media screen and (max-width: 600px){
    .area h2{
      font-size: 2rem;
    }
    .area{
      max-height: none;
    }
    
    .project img{
      width:40vw;
      height: 15vh;
    }
    .projects_contain{
      height: auto;
      width: auto;
      transform: none;
      overflow-y: auto;
      -ms-overflow-style: none;
    }

    .projects_area{
      display: grid;
      grid-template-columns: 45% 45%;
      grid-gap: 2vh 5vw;
      overflow-x: auto;
      height:auto;
      transform: none;
      transform-origin: none;
      width:100vw;
    }

    .project_text{
      max-width: 40vw;
    }
    .project_text> h3,h5{
      font-size: 1rem;
    }

  }
  
  
  
  
  
  
  
  