.projects_area{
    display: flex; 
  }
  .project{
    width: 30vw;
    border: blanchedalmond 2px;
  }
  
  .project h5, .project h3{
    font-size: 1.5rem;
  }
  .project h5{
    margin-bottom: 0;
  }
  
  
  .area h2{
    color:#ffffff;
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  
  
  
  
  
  
  